# Raw sequencing data
data/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
bam/
*.bam
*.bai
*.sam

# Variant files
vcf/
*.vcf
*.vcf.gz
*.bcf
*.bcf.gz

# Logs
*.log
*.errlog.txt
wget-log*
sample*.errlog.txt

# Conda installer
Miniconda3-*.sh

# Python
__pycache__/
*.pyc

# Local ML files
model/*.pkl
model/*.joblib

# OS files
.DS_Store
  
wget-log*
sample*.errlog.txt
results/*.json
results/*.txt
results/*.bam
results/*.vcf*

results/feature_table.csv
