# WGS sequencing data
data/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
bam/
*.bam
*.bai
*.sam

# Variant files
vcf/
*.vcf
*.vcf.gz
*.bcf
*.bcf.gz

# Logs
wget-log*
*.log
*.errlog.txt

# Conda installer
Miniconda3-*.sh

# Python cache
__pycache__/
*.pyc

# Local ML models
*.pkl
*.joblib
results/feature_table.csv
!results/
!results/feature_table.csv
